
.nav{
    background-color: rgb(250, 242, 242);
}
.logo-portion{
    color: rgb(19, 228, 11);
}
.menuLink{
    border-bottom: 1px solid  rgb(250, 242, 242);
    color: white ;
    margin-right: 1em;
}

.menuLink:hover{
    border-bottom: 1px solid #110235;
    color: white ;
}
