.footer{
    background-color: #110235;
   
    padding: 30px;
    padding-top: 50px;
    clip-path: ellipse(96% 100% at 25.62% 100%);
   

  
}
.presence ul{
   list-style:none ;
}
.presence a{
    text-decoration: none;
    color: white;
}